p {
    margin: 0;
}

ul {
    list-style-type: none;
}

.container {
    background-color: white;
    width: 330px;
    height: 385px;
    border-radius: 8px;
    border: 2px solid #000000;
    color: #000000;
    margin-left: 50px;
    margin-top: 50px;
    text-align: center;

    position: relative;
}

.image {
    background-color: #474747;
    border-radius: 100%;
    margin: 20px auto;

}

.name {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
}

.info {
    font-weight: 400;
    font-size: 20px;
    color: #838383;
}

.list {
    display: flex;
    width: 327px;
    background-color: #d9d9d9;
    border-top: 2px solid #838383;
    border-radius: 0 0 6px 6px;
    margin-bottom: 0;
    position: absolute;
    bottom: 0px;
    padding: 0;
    /* padding-left: 23px;
    padding-right: 23px; */
}

.items {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    width: 109px;
    text-align: center;
    padding: 10px 0;
    border-right: 2px solid #838383;
}

.items:last-child {
    border-right: none;
}